body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

#tabs {
  margin: 10px;
}

.tab {
  padding: 8px 12px;
  margin: 4px;
  border: none;
  cursor: pointer;
  background: #333;
  color: white;
  border-radius: 6px;
}

.tab.active {
  background: #39d353;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background: #222;
  padding: 8px;
  border-radius: 10px;
  transition: 0.2s;
}

.card.owned {
  background: #1f3d1f;
  border: 2px solid #39d353;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card.owned {
  background: #1f3d1f;
  border: 2px solid #39d353;
  box-shadow: 0 0 10px rgba(57, 211, 83, 0.3);
}

.btn-owned {
  background: #39d353;
  color: black;
}

.btn-not {
  background: #555;
  color: white;
}

/* hogy a kép is “éljen” owned esetben */
.card.owned img {
  filter: brightness(1.05) contrast(1.1);
}
